@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden !important;
}
.text-center {
  text-align: center;
}

.text-grey {
  color: lightgray;
}

.text-white {
  color: #fff;
}

section {
  color: #fff;
  min-height: 100vh;
  margin:0;
  padding:0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 100%, transparent), url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
section h1 {
  margin-left: 40px;
  margin-top:35px;
}

section nav {
  display: flex;
  justify-content: space-between;
}

section nav img {
  width: 40px;
height: 40px;
margin-top: 30px;
filter: invert(1);
margin-right: 40px;
cursor: pointer;
}

section nav .desktop-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

section .desktop-nav li {
  margin: 20px;
  font-size: 20px;
}

section .desktop-nav a {
  color: lightgray;
  text-decoration: none;
}
.small-font {
  margin-top: -50px;
  font-size: 20px;
}
.big-font {
  font-size:61px;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height:500px;
    justify-content: space-around;
}

.form-inputs-items {
  display: flex;
  flex-direction: column;
}

.form-inputs-items ::placeholder {
  color: #fff;
  opacity: 1;
}
.form-inputs h3 {
  font-weight: normal;
}

.form-inputs-items input{
  color: #fff;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  background: transparent;
  border:1px solid rgba(255,255,255,.3);
}

input:focus {
  outline: 1px solid #fff;
}

.btn-primary {
  border:1px solid rgba(255,255,255,.3);
  width: 300px;
  height: 40px;
  padding-left: 10px;
  color: #fff;
  cursor: pointer;
  width:315px !important;
  background: #2c99ed !important;
}

.intro {
  width: 40%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%
}
.password-container {
  position: relative;
}
.eye-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  filter: invert(0.5);
  cursor:pointer;
}
.footer-rights {
  margin-left: 20px;
  font-size:12px;
}

.footer-links {
  list-style: none;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.footer-links li{
  margin-left: 40px
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

#check {
  display: none
}

#check:not(:checked) + .side-menu {
  transform: translateX(100%);
  display: none;
}


#check:checked) .side-menu {
  transform: translateX(0);
  display: block;
}

.side-menu {
  background: #fff;
  min-height: 100vh;
  width: 200px;
  color: #000;
  position: absolute;
  right: 0;
    z-index: 3;
  transition: all .4s;
}

.side-menu .close-icon {
  position: absolute;
  top:10px;
  right:15px;
  color: lightgray;
}
.side-menu .close-icon:hover {
  color: #000;
  cursor: pointer;

}
.side-menu ul {
  list-style-type: none;
  font-size: 20px;
}

.side-menu ul li {
  margin: 20px;
  cursor:pointer;
}

.side-menu ul a{
color: #000;
text-decoration: none;
}

.side-menu ul li:hover {
  text-align: left;
  transition: all .4s;
  color: lightgray;
  margin-left: -5px;
}

@media(max-width:785px) {
  .main-content {
    flex-wrap: wrap;
  }
  .intro {
    width: 80%;
  }
  footer {
    position: relative !important;
    margin-top: 100px;
  }
}

@media(max-width:720px) {
  .big-font {
    font-size:40px;
    margin-bottom:60px;
  }
}

@media(max-width:655px) {
  .footer-links {
    flex-direction: column;
  }
  .footer-links li {
    margin: 5px;
  }
 .desktop-nav {
    display: none !important;
  }
}
